<div>
<h4> Store information: </h4><br>
<table class="table table-bordered">
<tbody>
  <tr>
    <th>Total products is equal: <%= @productcount %></th>
    <th>Total categories is equal: <%= @categorycount %></th>
  </tr>
</thead>
<tbody>
</table>
</div>
